/*
///////////////////////////////////////////////////

Howard Livingston
ASD with Marianne Sheldon
9/12
CSS page with Jquery selectors

///////////////////////////////////////////////////
/*


/*/////////////////////////////////////////////////

/*INDEX PAGE (Home Page)*/


/*Blue background color*/

.indexBackground{
			text-align:center;
			background-image:url('http://us.cdn2.123rf.com/168nwm/yuliufu/yuliufu1111/yuliufu111100992/11290392-background-of-the-old-brick-wall-close-up.jpg');
}


#topTenText{
			padding-left:100px;
			font-size:14pt;
			color:#ff6400;
}
.logo{
		padding-top:100px;
		padding-left:450px;

}
/*page-Welcome to Wolflinx-Title*/
.topCtaTitle{
		
			padding-left:75px;
			color: #a62800;
			font-size:25pt;
}

#aboutWolflinx{
				height:200px;
}


#openingStatement{
			color:white;
}


.homeButton{

			text-align:center;
}

label.error{display:block; margin:10px 0; color:#cc0000}

#searchField{
		text-align:center;
}

/*index page-search Page text*/ 
#search{
		margin-left:100px;
		color:blue;
		font-size:14pt;
		font-style:bold;
}

/*index page-contact us button text*/
#contactUs{
		margin-left:90px;
}

/*index page-Log-in link*/
#login{
			padding-left:260px;
			color:#FFFFFF;
			font-style:bold;
			font-family:(Copperplate Gothic Bold);
			font-weight:40px;
			font-size:18pt;
}

/*index page-browse bar and button*/
#browse{
			
			padding-left: 200px;
}

/*index page-All Browse categories*/
h1{
			background-color:F6F3D2;
			width:device-width;
			text-align:center;
			padding:10px;
			border:5px solid orange;
			border-style: groove;
			margin:0px;
			padding-left:45px;
			color:#a62800;
			font-style:regular;
			font-family:Charlemagne Std;
			font-size:25px;
			font-weight:bold;
}

/*index page-all titles for the sections*/
.BrowseTitles{
			color:#a62800;
			font-style:regular;
			font-family:Copperplate Gothic Bold;
			font-weight:5px;
			font-size:24pt;
			text-outline:10px-black;
			text-shadow: 0 0 10px #FFFFFF;

}
/*INDEX PAGE*/

/*signupPage*/
#enterInfoText{
				color:blue;
				font-size:18px;
}

/////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////

/*Education Page*/
.educationPageTitle{
			position:absolute;
			top:70px;
			padding-left:130px;
			color: #a62800;
			font-size:12pt;
}
/////////////////////////////////////////////////*/




/*/////////////////////////////////////////////////

/*Work Page*/

#indexIcon.workPageTitle{

			
			padding-left:130px;
			color: #a62800;
			font-size:12pt;
}
/////////////////////////////////////////////////*/

/*Fun Page*/

/*funImage*/

#funImage{
		text-align:center;

}


/*fun page-back to home button text*/
#backToHomeButton{
		margin-left:100px;

}
/////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////


/*JSON DATA*/
#items{
			color:yellow;
			font-size: 24px;
			font-style:bold;
}

/////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////

/*github page*/
#gitHub{
			color:orange;
}
/////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////

/*About Wolflinx*/
#aboutWolflinx{
			color:black;
}

#aboutWolflinksList{
			color:#1b1bb3;

}
/////////////////////////////////////////////////*/

